/* .sorting-visualizer{
    width: 100%;
    background-color:black;
} */
body {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
#array-container{
    /* position: relative; */
    /* left: 180px; */
    margin-top: 2px;
    margin-left: 200px;
    height: 500px;
    /* padding-left: 30px; */
    align-items: center;
    /* width: 1000px; */
    /* background-color: black;  */
}
.array-bar{
    width: 2px;
    display: inline-block;
    margin: 0 1px;
}
/* .indButton{
    width: 200px;
    padding: 10px;;
} */
.buttons{
    /* position: absolute;
    border-radius: 5px;
    width: 200px;
    height: 400px; */
    background-color:#F7F7F7;

    position: fixed;
    width: 15%;
    bottom: 0;
    left: 0;
    top: 10%;
}
/*#properties{
    background-color: blue;
    position: absolute;
    left: 200px;
    padding: 3px;
    
    height: 40px;
}
*/
